{% extends "layout.html" %}
{% block title %}Edit Company{% endblock %}
{% block content %}
{% from "country_state_selector.html" import country_state_selector %}

<div class="container-fluid">
    <div class="h1">Edit Company</div>
    <div>
        <form method="POST">
            {#
            generate fields with proper types for
            name (required)
            address (required)
            city (required)
            state/country (use the country_state_selector)
            zip (required)
            website (not required)
            and prefill the fields with loaded company data
            #}
            <div class="form-group mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type='text'id='name' name='name'/>
                </div>
                <!-- required -->

            <div class="form-group mb-3">
            <label class="form-label" for="name">Address</label>
            <input class="form-control" type='text' id='address'name='address' />
            </div>
        
            <div class="form-group mb-3">
            <label lass="form-label"for="name">City</label>
            <input class="form-control" type='text' id='city'name='city' />
            </div>
        
            <div class="form-group mb-3">
            <label lass="form-label" for="name">Website</label>
            <input class="form-control" type='text' id='website'name='website' />
            </div>  

            <div class="form-group mb-3">
            <label lass="form-label" for="name">Zipcode</label>
            <input class="form-control" type='text' id='zipcode'name='zipcode' />
            </div> 

            {# use this for country/state selection #}
            {{country_state_selector(country=company.country, state=company.state)}}

            <input type="submit" class="btn btn-primary" value="Save Company" />
        </form>
    </div>
</div>
{% endblock %}